@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}
.title-animation {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-align: left;
  padding: 30px 0 30px 0;
}
.services-title-text{
  color:#2E343C;
  text-align:center;
  margin:0 !important;
  letter-spacing: 1px;
}
.service-subtitle {
  color:rgb(112, 112, 112);
  font-style: italic;
  padding: 10px;
}
.services-underline {
  width: 20%;
  height: 2px;
  background-color: #AED3BE;
  border-radius: 10px;
  border: none;
}
.service-container {
  display:flex;
  justify-content: space-around;
  border-top: 1px solid #AED3BE;
  margin: 20px 0 20px 0;
  width:90%;
  margin-left:5%;
  padding:20px;
}

.service-text {
  text-align:center
}

.service-image {
  margin-top:5px;
  margin-left:5px;
  width: 90%;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px rgb(170, 170, 170);
  -webkit-box-shadow: 0 0 3px rgb(170, 170, 170);
  box-shadow: 0 0 2px rgb(151, 151, 151);
}
.service-text {
  margin-left:35px;
}
