.contact-form{
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.contact-form label {
  padding: 10px;
  padding-bottom: 15px;
  font-size: 16px;
  text-align:right;
}
.contact-form input.name-email {
  width: 80%;
  height: 35px;
}
.name-email-row {
  margin: 0 12% 0 8%;
  width:80%;
  display:flex;
  justify-content: space-between;
  align-content:center;
  padding-bottom:25px;
}
#email-text{
  margin: 0 12% !important
}
.name-email-row p{
  color:whitesmoke;
}
textarea.name-email{
  width: 80%;
  height: 200px;
}
.contact-button {
  align-self: center;
  width: 100px;
  height: 30px;
  background-color: #232022;
  color:whitesmoke;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
}
input[type="submit"]{
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 500;
}
.contact-button:hover {
  cursor:pointer;
  border-radius: 5px;
  background-color: #bdc7d4;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgb(136, 136, 136);
}

@media only screen and (max-width: 600px) {
  .name-email-row {
      width:70%;
  }
  textarea.name-email{
      width: 70%;
      height: 120px;
  }
  .contact-form{
      padding: 0px;
  }
}
