html,
body {
  position:relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin:0;
  padding:0;
  color:#2E343C ;
  font-family: 'Mulish', 'Verdana', 'sans-serif';
}

h1, h2 {
  font-family: 'Baloo 2', 'Roboto', 'Verdana', 'sans-serif';
  font-weight: normal;
  color:#2E343C ;
}

h3, h4, h5, p {
  color: #2E343C;
}

.orange-btn {
  padding:7px;
  background-color: #EB712F;
  border-radius: 5px;
  color:white;
  border: 2px solid #EB712F;
}
.orange-btn:hover {
  background-color: #f88142;
  border-radius: 6px;
  border: 2px solid #EB712F;
  cursor:pointer;
}

.red-btn {
  margin: 5px;
  padding:7px;
  background-color: #e94343;
  border-radius: 5px;
  color:white;
  border: 2px solid #e94343; 
}
.red-btn:hover {
  background-color: #ff5d5d;
  border-radius: 6px;
  border: 2px solid #e94343;
  cursor:pointer;
}

.green-btn {
  padding:7px;
  background-color: #AED3BE;
  border-radius: 5px;
  color:#000000;
  border: 2px solid #AED3BE;
}

.green-btn:hover {
  background-color: #c8e7d5;
  border-radius: 6px;
  cursor:pointer;
}

.title-text{
  font-family: 'Baloo 2' !important; 
  font-weight: 200;
}
textarea, input{
  resize: none;
  outline:none;
  font-family: 'Mulish', 'Verdana', 'sans-serif';
}

.dark-background {
  background-color:#2E343C ;
}

.light-text {
  color:white;
}

#align-btn-left {
  margin-left: 150px !important;
}

.full-width {
  width:100%;
}

.auto-width {
  width:auto;
}

.additional-info-edit {
  font-size: 16px;
}

.edit-btn {
  padding: 0;
  border: none;
  background: none;
  color:rgb(95, 95, 95);
}

.icon:hover {
  cursor:pointer;
}
.test {
  background-color: orange;
}

.container-center {
  display:flex;
  justify-content: center;
  align-items: center;
}

