.banner-title {
  font-size: 33px;
  margin: 0;
  padding:0;
  color: #AED3BE;
  text-align: center;
  line-height: 30px;
}

.banner-description {
  font-size: 15px !important;
  font-family: 'Mulish', 'Verdana', 'sans-serif';
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align:left;
  margin-bottom: 15px !important;
  padding: 5px;
  text-align: center;
  color:rgb(219, 219, 219) !important;
}

.banner-btn {
  width:120px;
  font-size: 17px;
  margin-bottom: 10px;
}

