.banner-title {
  margin: 30px 0 5px 0;
  padding: 0;
  font-size: 35px;
  width: 80%;
  margin-left: 14%;    
  color: #AED3BE
}

.banner-description {
  font-size: 15px !important;
  font-family: 'Mulish', 'Verdana', 'sans-serif';
  width:80%;
  margin-left: 14%;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align:left;
  margin-bottom: 15px !important;
  color:white !important;
}

.banner-btn {
  width:120px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left:40%;
}

