.banner-title {
    margin: 10px 0;
    padding: 0;
    font-size: 35px;
    width: 80%;
    margin-left: 10%;    
}

.banner-image {
    float:left;
    width: 50%;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-left: 15%;
    padding-right: 25px;
}
.banner-description {
    font-size: 15px !important;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-align:left;
    margin-bottom: 15px !important;

}