.comment-container {
    width: 70%;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.comment-reply {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;

}

.comment-reply:hover {
    cursor:pointer
}


