.grey-background{
    background-color: #2E343C;
}
.green-background{
    background-color: #AED3BE;
}
.card-container {
    padding: 5px 0;
    border-bottom: 1.5px solid #2E343C;
    border-radius: 3px;
}
.card {
    margin: 15px 0 25px 0 ;
    font-family: 'Mulish', 'Verdana', 'sans-serif';
    box-shadow:none !important;
 }
 .card-subtitle {
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size:15px;
    margin-bottom: 10px !important;
 }
 .card-subtitle-text {
    text-align: center;
    margin-left: 3px;
    padding-top: 5px;
 }
 .featured-title-input {
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Mulish', 'Verdana', 'sans-serif';
 }
 .delete-row {
     display:flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
 }
 .delete-row p {
     color: rgb(177, 9, 9) !important;
 }
 .featured {
    padding: 0px 20px;
    margin-bottom:50px;
}
.featured-container {
    background-color: #2e343c;
    border-radius: 0 10px 10px 0;
    height: 100%;
    margin-top: 0px !important;
}
.featured-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-header {
    color: whitesmoke !important;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px dotted #AED3BE;
    padding-bottom: 5px;
    width:75%;
}
.featured-img{
    height: 170px;
    width: 170px;
    padding: 2%;
    object-fit:cover;
    border-radius: 200px;
    -moz-box-shadow: 0 0 3px rgb(170, 170, 170);
    -webkit-box-shadow: 0 0 3px rgb(170, 170, 170);
    box-shadow: 0 0 5px rgb(170, 170, 170);
}


