.comment-container {
    margin-top:30px;
}

#comment-title {
    width: 70%;
    margin:10px;
    padding:0;
}

.add-comment-container {
    display:flex;
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 20px;
}

.username-text-area {
    width:100%;
    margin-bottom: 10px
}
.comment-text-area{
    height:80px;
    width:100%;
    margin-bottom: 10px
}

.save-comment-btn {
    padding: 8px 15px !important;
}
#add-comment {
    display:inherit;
    justify-content: center;
    align-items: center;
    padding:18px;
    margin:0;
    margin-right:10px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 30px;
    font-weight:lighter;
}
