.comment-container {
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(211, 211, 211);
  border-radius:5px;
  margin:0;
}
.comment-form {
  width: 60%;
}
.comment-reply {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  margin-left: 50px;
}
.comment-reply:hover {
  cursor:pointer
}
.comment-name {
  height:30px;
  margin-bottom: 5px;
  width:50%;
  border-radius:5px;
  border:1px solid rgb(182, 182, 182)
}
.username-text-area{
  height:30px;
  width: 25%;
  border-radius: 5px;
  border:1px solid rgb(182, 182, 182);
  margin-bottom: 5px !important;
}
div.add-reply-container {
  display:flex;
  flex-direction: row;
  /* justify-content: center; */
  margin-left: 110px;
  align-items: center;
  height:170px;
}
.save-reply-btn{
  margin:0;
  padding:2 !important;
}
.reply-text-area{
  width:100%;
  height: 50px;
  border-radius:5px;
  border:1px solid rgb(182, 182, 182)
}
.reply-text{
  margin: 10px 10px 0px 10px;
  font-size: 16px;
  font-weight:bold;
  font-style: italic;
}
.reply-name{
  margin-left: 20px;
  margin-top: 5px;
  font-size: 15px;
  font-weight:lighter;
  font-style: italic;
}
.reply-container {
  padding:0;
  margin-left:10%;
  border-bottom: 1px solid rgb(211, 211, 211);
  border-radius:5px
}
.show-replies {
  height: 25px;
  background-color: rgb(241, 241, 241);
  border:1px solid rgb(228, 228, 228);
  border-radius: 8px !important;
  font-size: 15px;
  margin-left: 10px;
  /* font-style: italic; */
}
.show-replies:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;

}
.show-replies img {
  margin-left:10px;
  margin-top:1px;
  border-left: 1px solid rgb(158, 158, 158);
}
#add-reply-btn {
  background-color: rgb(241, 241, 241);
  border:1px solid rgb(228, 228, 228);
  margin-top: 12px;
  margin-left: 10%;
  padding: 6px;
}
#add-reply-btn:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .comment-container {
    width: 95%;
  }
  .comment-form {
    width: 100%;
  }
  .username-text-area{
    height:35px;
    width: 50%;
    border-radius: 8px;
    border:1px solid rgb(182, 182, 182);
    margin-bottom: 5px !important;
  }
}