.single-blog-title {
    font-size: 40px;
    width: 80%;
    font-weight: normal
}

.single-post-image {
    width: 60%;
    text-align: center;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px rgb(170, 170, 170);
    -webkit-box-shadow: 0 0 3px rgb(170, 170, 170);
    box-shadow: 0 0 10px rgb(192, 192, 192);
    padding: 10px 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgb(231, 231, 231);
}
.blog-paragraphs {
    font-size: 17px;
    line-height: 23px;
    word-spacing: 3px;
    font-weight: lighter;
}