.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.stats-visual{
    /* width: 300px; */
}
.stats-number {
    font-size: 700%;
    font-weight: 600 !important;
}

.stats-description {
    margin-left: 10%;
    margin-top: -10%;
    width:300px;
}

.circle-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    .stats-description {
        margin-left: 30%;
        margin-top: -10%;
        width:300px;
    }
}