.home-page {
    height: 100%;
}

.edit-btn {
    padding: 0;
    border: none;
    background: none;
    color:rgb(95, 95, 95);
}

/* .icon {
    margin-left: 50px;
} */

.icon:hover {
    cursor:pointer;
}

