.home-page {
  height: 100%;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

.home-title-animation {  
  animation: 1s ease-out 0s 1 slideInFromTop;
  text-align: left;
  padding-bottom: 20px;
}


