.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.stats-visual{
    /* width: 300px; */
}
.stats-number {
    font-size: 700%;
    font-weight: 600 !important;
}

.stats-description {
    margin-left: 40%;
    margin-top: -10%;
}
