footer {
    height:150px;
    background-color: #232021;
    color:white
}
#footer-visual {
    display:none;
}
.footer-text {
    color:white;
}

section.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


.footer-contact {
    text-align: center;
    margin-left:55px;

}

.footer-copyright {
    font-style:italic;
    font-size: 15px;
}

.social-media {
    /* margin-right:55px; */
}

.social-media-icons {
    height:45px;
    margin-left:15px;
    margin-right:15px;
    /* padding-top:50px; */
}