footer {
  height:150px;
  background-color: #2E343C;
  color:white;
  bottom: 0;
  width: 100%;
}
#footer-visual {
  display:none;
}
.footer-text {
  color:white;
}
section.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.footer-contact {
  text-align: center;
  margin-left:55px;
}
.footer-copyright {
  text-decoration: none;
}
.footer-copyright p {
  font-style:italic;
  font-size: 15px;
  color:white;
}

@media only screen and (max-width: 700px) {
  footer {
      height:290px;
  }
  section.container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footer-contact {
      margin-left:0;    
  }
  .footer-copyright {
      margin-top:30px;
  }
}