header{
  padding:0px;
  background-color: #232022; 
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  box-shadow: 0 3px 3px #969696c5; 
  height: 100px;
}
.light-header{
  padding:0px;
  background-color: white; 
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  box-shadow: 0 3px 3px #969696c5; 
  height: 100px;
}
.headerImage {
  height: 50px;
}
.logoContainer {
  display: flex;
  align-items: center;
  margin:0;
  padding:0;
}
.logoContainer a{
  text-decoration: none;
  color:#232022;
  padding: 15px
}
.logo-text {
  margin: 0;
  padding:0;
  font-size: 30px;
  margin-left:15px;
  font-weight: 300;
  font-family:'Mulish', 'Roboto', 'sans serif';
  color:whitesmoke;
}
.navList{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0 ;
  font-size: 18px !important;
  margin-right: 15px;
}
.navBar {
  display:flex;
  justify-content:flex-end;
  margin:0 !important;
  padding: 0 !important;
}
.navList li{
  margin:0 20px;
  padding:0;
}
.navList li a{
  text-decoration:none;
  color:whitesmoke;
  font-family: 'Mulish', 'Verdana', 'sans-serif';
  letter-spacing: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; 
  cursor: pointer
}
.navList li a:hover{
  cursor:pointer;
  color:#AED3BE;
  letter-spacing: 1.5px;
}
.active-nav{
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin:30px 0 0 0 !important;
      padding: 0 !important;
  }
  .navList{
      font-size: 16px !important;
      margin: 20px 0px;
  }
  .navList li{
      margin: 0 20px;
  }
  .navList li{
      margin-bottom: 10px;
  }
  .navBar {
      display:flex;
      justify-content:center;
      margin:0 !important;
      padding: 0 !important
  }

}