header{
    /* margin-bottom: 35px; */
    padding:20px;
}
.headerImage {
    height: 70px;
}
.logoContainer {
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
}
.logo-text {
    margin: 0;
    padding:0;
    margin-left:15px;
    font-weight: 300;
    font-family:'Mulish', 'Roboto', 'sans serif';
}
.navList{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    font-size: 18px !important;
    margin-right: 15px;
}
.navBar {
    display:flex;
    justify-content:flex-end;
    margin:0 !important;
    padding: 0 !important;

}

.navList li{
    margin:0 20px;
    padding:0;
}
.navList li a{
    text-decoration:none;
    color:black;
    font-family: 'Mulish', 'Verdana', 'sans-serif';
    letter-spacing: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: pointer
}

.navList li a:hover{
    cursor:pointer;
    color:#5b6470;
    letter-spacing: 2px;
}

.active-nav{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:30px 0 0 0 !important;
        padding: 0 !important;
    }
    .navList{

        font-size: 16px !important;
        margin: 20px 0px;
    }
    .navList li{
        margin: 0 20px;
    }
    .navList li{
        margin-bottom: 10px;
    }
    .navBar {
        display:flex;
        justify-content:center;
        margin:0 !important;
        padding: 0 !important
    }

}