.additional-info{
  margin: 100px 0 100px 0;
}

.top-bottom-border {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mission-text {
  padding:55px;
  text-align: center;
}

.learn-more-btn {
  display:flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .mission-text {
    padding:10px;
    text-align: center;
  }
}