ul.database-management{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  margin:0;
  padding:0;
  
}
ul.database-management li{
  padding:20px;
  list-style-type:none;
}

.database-management-title {
  margin:5px 0;
}

.update-btn {
  padding:15px 70px !important;
  margin-bottom: 50px;
}

.blog-body{
  height:500px;
  width:80vw;
}

.management-input{
  width:100%;
  margin-bottom: 10px;
  height:25px;
  text-align: center;
}

.manager-hide {
  display: none
}

.manager-show {
  display: initial
}

.management-login {
  display: block;
  margin-bottom: 10px;
  height:25px;
}

.management-center {
  text-align: center;
  margin: 30px auto;
  display: block;
  padding: 10px 0px;
  width: 500px;
}

.management-bottom-border {
  border-bottom: 1px rgba(0, 0, 0, 0.39) solid;
}



