/* .sidebar-container {
    background-color: whitesmoke;
    height: 100vh;
    
}The side navigation menu */
.sidenav {
    height: 100%;
    width: 250px;
    margin-top:115px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(233, 232, 232);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #464646;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: black;
}

