.banner-container{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #232022;
  overflow: hidden; 
  -moz-box-shadow: 0 5px 5px #969696;
  -webkit-box-shadow: 0 5px 5px #969696;
  box-shadow: 0 5px 5px #969696c5; 
  padding-top: 40px
}
.banner-items{
  color:whitesmoke;
  position:relative
}

.banner-box {
  display:flex;
  flex-direction: column;
  width: 86%;
  margin-left: 7%;
  align-items: center;
  padding-top:25px;
}
.banner-input {
  width: 100%;
}
