@keyframes slideInFromLeft {
    0% {
      transform: translateX(-2%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .blog-page-animation {  
    animation: 1s ease-out 0s 1 slideInFromLeft;
    text-align: left;
    padding-bottom: 20px;
  }
.blog-page{
    height:100%
}
.blog-header{
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .featured {
        display:flex;
        flex-direction: column;
        padding: 0px 20px;
        margin-bottom:50px;
    }
    .featured-container {
        border-radius: 0 0px 0px 0;
    }
    .card {
        width: 70%;
    }
    .card-container{ 
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .featured-img{
        height: 100%;
        width: 50%;
        padding: 3%;
        object-fit:cover;
        border-radius: 200px;
        -moz-box-shadow: 0 0 3px rgb(170, 170, 170);
        -webkit-box-shadow: 0 0 3px rgb(170, 170, 170);
        box-shadow: 0 0 5px rgb(170, 170, 170);
    }
    .featured-description {
        width:90%;
        margin: 100px
    }
}

